body {
	height: 100000000px;
 	background:url(https://i.yapx.ru/WXjKv.png); 
}

.rainbow-animated {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
  font-size: 50px;
  line-height: 50px;
}
 
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
 
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}


body {
    max-height: 3000px;
   }


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Impact, Helvetica, sans-serif;
}

.container {
white-space: nowrap; /* Запрет переноса текста на новую строку */
    overflow: hidden; /* Скрываем текст, выходящий за границу элемента */
    position: relative; /* Необходимо для абсолютного позиционирования текста */
    animation: scrollText 10s linear infinite; /* Анимация текста */
  }

  @keyframes scrollText {
    0% {
      left: 100%; /* Начальное положение текста за границей справа */
    }
    100% {
      left: -100%; /* Конечное положение текста за границей слева */
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  animation: move 3s infinite linear  alternate;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40%);
  }
}











